*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* :root{
    --primary:#ff0066
 } */
 body{
    position: relative;
    background:#ffffff;
    width: 100%;
    min-height: 100%;
    overflow: auto;
 }
/* Header */
.navbar-brand{
    font-size: 50px;
    word-spacing: 1px;
}
.nav-link{
    color: black;
    font-weight: 600;
    margin-left: 30px;
}
.nav-link:hover{
    cursor: pointer;
}
.d-flex{
    padding: 30px;
    margin-left: 30px;
}
/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 30px;
 }
 .footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
 }
 footer::before{
    content: '';
    background: black;
    height: 2px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 .footer::after{
    content: '';
    background: black;
    height: 2px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 #services{
    padding: 80px 0;
 }
 .service-img{
    width: 200px;
    margin-top: 20px;
    align-items: center;
 }
 .services{
    padding: 20px;
 }
 .services h5{
     padding: 5px;
     margin-top: 25px;
     text-transform: uppercase;
 }
 .icons.logo{
    color: brown;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
 }
/* banner section */
.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    transition: 0.5s;
}
.banner::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.bg-slide{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bg-slide .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%,-50%);
    width: 60vw;
    z-index: 1100;
    transition: ease-in-out 3s;
    opacity: 0;
    visibility: hidden;
}
.bg-slide .content h1{
    font-size: 6em;
    /* text-transform: uppercase; */
}
.bg-slide .content p{
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.bg-slide.active .content{
    transform: scale(1) translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
}
.circle{
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0,0) rotateZ(0);
   opacity: 0;
   visibility: hidden;
   transition: 3s;
}
.circle.bg{
    background: transparent;
    width: 140vw;
    height: 140vw;
    border: 0;
}
.circle.large{
    width: 70vw;
    height: 70vw;
}
.circle.small{
    width: 35vw;
    height: 35vw;
}
.circle img{
    position: relative;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
}
.circle.bg img{
    border-radius: 0;
}
.circle.large img{
    transform: scale(2);
}
.circle.small img{
    transform: scale(4);
}
.bg-slide.active .circle.bg{
    transform: translate(0,0) rotateZ(-360deg);
    opacity: 1;
    visibility: visible;
}
.bg-slide.active .circle.large{
    transform: translate(0,0) rotateZ(720deg);
    opacity: 1;
    visibility: visible;
}
.bg-slide.active .circle.small{
    transform: translate(0,0) rotateZ(-720deg);
    opacity: 1;
    visibility: visible;
}
.slide-loader{
    position: absolute;
    z-index: 1100;
    bottom: 50px;
    right: 100px;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}
.slide-loader li{
    list-style: none;
    display: flex;
    align-items: end;
}
.slide-loader li a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    transition: 0.5s;
    line-height: 1em;
    cursor: pointer;
    padding: 10px;
}
.slide-loader li a.active,
.slide-loader li a:hover{
    font-size: 4em;
}
.slide-loader::before{
    position: absolute;
    content: "";
    top: 50%;
    left: -70%;
    width: 100px;
    height: 2px;
    background: #111;
}
.share{
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1200;
}
.share::before{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: -120%;
    height: 100px;
    width: 2px;
    background: black;
}
.share p{
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
}
.share a{
    text-decoration: none;
    color: black;
}
.share a ion-icon{
    font-size: 1.8em;
}
/* .lead{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* About us */
section h1{
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-align: center;
}